* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  text-transform: capitalize;
}
body {
  overflow-x: hidden;
}

header .content {
  width: 100%;
  background-color: red;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

nav > ul > li > a {
  font-size: 20px;
  display: flex;
  margin: 0 0.9rem;
}
header .image-logo {
  width: 70px;
  height: 60px;
}
.image-logo {
  max-width: 100%;
  max-height: 100%;
  margin-left: 40px;
  margin-block: 0;
  padding-inline-start: 0;
  margin-top: 5px;
}
#mobile {
  display: none;
}
@media /* only screen and */ (max-width: 895px) {
  nav li:last-child {
    display: block;
  }
  header .content {
    padding: 1rem 1rem;
  }
}
@media (max-width: 800px) {
  .desktop {
    display: none;
  }
  .content {
    padding: 0.5rem 0;
  }
  #mobile {
    display: block;
    width: 100%;
  }
  #mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  #mobile li {
    padding: 0;
    margin: -10px;
  }
}

/* main-content */
#header {
  background-image: url(./img/frtuits.jpg);
  background-repeat: no-repeat;
  height: 40vh;
  width: 100vw;
  background-size: cover;
}
#header h1 {
  top: 9.3rem;
  left: 30px;
  color: #fff;
  position: relative;
  font-style: italic;
  font-size: 30px;
}
#header h2 {
  position: relative;
  top: 9.5rem;
  left: 30px;
  color: #fff;
  font-style: italic;
  font-size: 30px;
}

/* header */
.img-section {
  width: 1700px;
  height: 80vh;
  position: absolute;
  background-color: black;
  display: flex;
  left: 10px;
  flex-wrap: wrap;
  object-fit: cover;
}

.img-center {
  width: 400px;
  height: 300px;
  margin: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  object-fit: fill;
  margin: 40px;
  position: relative;
  left: 7%;
  object-fit: cover;
}
.img-center img {
  max-width: 100%;
height: 100%;
  border: 3px solid wheat;
  object-fit: cover;
}
p {
  color: #fff;
  text-align: center;
}
.employee {
  text-align: center;
  font-size: 50px;
  color: black;
  background-color: #f0e8e8;
}
/* .img-center span{
  color: red;
position: absolute;
} */
