* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  text-transform: capitalize;
}

header .content {
  width: 100%;
  background-color: red;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .image-logo {
  width: 70px;
  height: 60px;
}
.image-logo {
  max-width: 100%;
  max-height: 100%;
  margin-left: 40px;
  margin-block: 0;
  padding-inline-start: 0;
  margin-top: 5px;
}
nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

nav > ul > li > a {
  font-size: 20px;
  display: flex;
  margin: 0 0.9rem;
}
#mobile {
  display: none;
}
@media /* only screen and */ (max-width: 895px) {
  nav li:last-child {
    display: block;
  }
  header .content {
    padding: 1rem 1rem;
  }
}
@media (max-width: 800px) {
  .desktop {
    display: none;
  }
  .content {
    padding: 0.5rem 0;
  }
  #mobile {
    display: block;
    width: 100%;
  }
  #mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  #mobile li {
    padding: 0;
    margin: -10px;
  }
}

/* main-content */
#header {
  background-image: url(./img/frtuits.jpg);
  background-repeat: no-repeat;
  height: 40vh;
  width: 100vw;
  background-size: cover;

}
#header h1 {
  top: 9.3rem;
  left: 30px;
  color: #fff;
  position: relative;
  font-style: italic;
  font-size: 30px;
}
#header h2 {
  position: relative;
  top: 9.5rem;
  left: 30px;
  color: #fff;
  font-style: italic;
  font-size: 30px;
}

/* header */
.photo-container {
  background-color: antiquewhite;
  width: 1300px;
  height: 600px;
  position: relative;
  left: 12.5%;
  top: 39%;
  display: flex;
  justify-content: center;
}

.contr {
  background-color: blueviolet;
  width: 1200px;
  height: 500px;
  top: 8%;
  position: absolute;
  left: 4%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.tweet{
  width: 300px;
  height: 300px;
  border-radius: 3px solid green;
  margin: 10px;
  position: relative;
  left: 10px;

}

.tweet img{
  max-width: 100%;
  max-height: 100%;
}
.h2{
  position: relative;

}